*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    height: 100vh;
}

.cabecalho{
    display: flex;
    flex-direction: row;
}

.navbar{
    padding: 1% 3%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 3%;
}

.navbar_navegacao{
    text-decoration: none;
    color: #f6f6f6;
    font-size: 20px;
}

.navbar_navegacao.ativo{
    text-decoration: underline;
    color: chocolate;
}

.principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.principal__esq{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding: 10%;
}

.principal__principal__titulo{
    color: #f6f6f6;
    font-size: 24px;
}

.principal__principal__texto{
    color: #f6f6f6;
    font-size: 20px;
}

.principal__img{
    width: 30%;
    border-radius: 6px;
    background-color:bisque;
    padding: 1%;
    margin: 0 10% 0 0;
}

.ancora {
    font-size: 24px;
    text-decoration: none;
    color: #f6f6f6;
    background-color: blue;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    max-width: 300px;      /* Limite de largura */
    display: block;
    margin: 0 auto;
    text-align: center;
}

.ancora:hover{
    transform: scale(1.05);
    background-color: aqua;
    color: black;
}

@media (max-width: 768px) {
    .principal {
        flex-direction: column;
        display: flex;
        height: auto;
        padding: 20px;
        align-items: center;
    }

    .principal {
        flex-direction: column;
        align-items: center;
    }

    .principal__img {
        width: 60%;
        margin: 0;
    }

    .ancora {
        width: 80%;
        font-size: 18px;
    }
}
